@tailwind base;
@tailwind components;
@tailwind utilities;


.counter-text {
   @apply text-blue-400 text-3xl font-bold md:text-white md:bg-blue-700 md:rounded-full w-14 h-14
}

.counter-label {
   @apply pt-2 text-center text-white
}